* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.bg-dark {
	background-color: #075218 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(231, 223, 114);
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(233, 229, 168);
	padding-left: 10px;
}

.active {
	background-color: #0d8128;
	color: rgb(233, 229, 168) !important;
}
.active a:hover {
	color: rgb(224, 150, 214);
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0.1rem;
}

.nav-item {
	border-radius: 0.25rem;
}

.dropdown-menu {
	background-color: #169132;
}
.dropdown-item {
	color: #e9e5a8;
}
.dropdown-item:focus {
	background-color: chartreuse;
}

.card {
	margin: 0.25rem;
}

#activity-header {
	margin: 5px;
}
.activities-block {
	background-color: darkgray;
	height: 15rem;
	overflow-y: scroll;
}

.activities-border {
	background-color: lightcoral;
}

.activity-card {
	width: 17rem;
}

.bucket-list-block {
	background-color: darkgray;
	margin: 0.25rem;
	height: 15rem;
	border: rgb(128, 214, 240) solid 10px;
	overflow-y: scroll;
}

.bucket-list-border {
	background-color: lightcoral;
}

.bucket-list-card {
	width: 17rem;
}

.row {
	justify-content: space-evenly;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}
.col-user-image {
	align-self: center;
	width: 30%;
	padding: 0;
}
.profile-card {
	background-color: darkgray;
}

.profile-pic {
	border-radius: 50%;
	border: solid white 4px;
	max-width: 75%;
	margin: 10px;
}

.rounded-start {
	border-bottom-left-radius: 50% !important;
}

.user-description {
	align-self: center;
	margin: 5px;
}

.fixed-bottom {
	height: 40px;
}

.github-link {
	padding: 0;
}

.clear {
	clear: both;
	height: 40px;
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
	.nav-item:first-child {
		margin-top: 0.5rem;
		border-bottom: #074415 solid 1px;
	}
	.nav-item {
		border-radius: 0.25rem;
		border-bottom: #074415 solid 1px;
	}
	.nav-item:last-child {
		margin-bottom: 0.5rem;
		border-bottom: none;
	}
}
/* .wrapper {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

#sidebar {
	position: fixed;
	min-width: 250px;
	max-width: 250px;
	left: 0;
	height: 100vh;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
	overflow: auto;
}

.card {
	background: #6d7fcc;
}

.card-body {
	padding: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.col {
	text-align: center;
	align-self: center;
} */

/* .col-user-image {
	align-self: center;
	padding: 0;
}

.profile-pic {
	border-radius: 50%;
	margin: 10px;
}

.user-description {
	align-self: center;
	margin: 5px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	font-family: "Poppins", sans-serif;
	background: #fafafa;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}

#sidebar ul.components {
	border-bottom: 1px solid #47748b;
	border-top: 1px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
} */

/* #sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
} */

/* #content {
	margin-left: 250px;
	height: 100vh;
	padding: 1px, 16px;
} */
